@font-face {
  font-family: "PT-sans";
  src: url("../fonts/ptsans-400.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "PT-sans";
  src: url("../fonts/ptsans-700.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  height: 100%;
}

body {
  height: 100%;
  font-family: "PT-sans", sans-serif;
  font-size: 22px;
  line-height: 26px;
  font-weight: 400;
  color: #333333;
  background-color: #f2f2f2;
  margin: 0;
  padding: 0;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.container {
  display: flex;
  flex-direction: column;
  width: 1200px;
  margin: 0 auto;
  background-color: #ffffff;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
  min-height: 100%;
}

.main-index {
  flex-grow: 1;
}

/* Pages */

.navigation {
  display: flex;
  padding: 0 70px;
  margin: 0;
}

.logo-header-link {
  display: block;
  margin-right: 28px;
  margin-bottom: -6px;
  position: relative;
}

.navigation-list {
  display: flex;
  flex-wrap: wrap;
  max-width: 600px;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.navigation-user {
  width: 300px;
  margin-left: auto;
  justify-content: flex-end;
}

.navigation-link-svg {
  position: absolute;
  margin: auto;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.navigation-link {
  margin: 0;
  padding: 0;
  font-size: 20px;
  line-height: 24px;
  font-weight: 700;
  color: #000000;
  text-decoration: none;
  text-align: center;
  padding: 20px 16px;
  display: block;
  position: relative;
}

.navigation-link:hover .navigation-link-svg path {
  fill: #756257;
}

.navigation-link:hover {
  color: #756257;
}

.navigation-item-current::after {
  margin: 0 auto;
  width: 70%;
  height: 2px;
  background-color: #756257;
  content: "";
  display: block;
}

.navigation-pages .navigation-item:hover::after {
  margin: 0 auto;
  width: 70%;
  height: 2px;
  background-color: #756257;
  content: "";
  display: block;
}

.navigation-pages li:hover {
  background-color: rgba(130, 179, 211, 0.1);
}

.navigation-user .navigation-link {
  min-width: 44px;
  min-height: 66px;
  padding: 24px 12px;
}

.navigation-favorite {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 20px;
  height: 20px;
  color: #ffffff;
  border-radius: 50%;
  background-color: #7db54f;
  font-size: 10px;
  line-height: 10px;
  text-align: center;
  position: absolute;
  top: 11px;
  right: 4px;
}

.navigation-user .button {
  margin-top: 14px;
  margin-left: 20px;
}

.navigation-link-heart-svg {
  display: block;
  padding: 0;
  margin: 0;
}

.navigation-link-heart-favorites {
  background-color: #7db54f;
}

/*кнопки*/

.button {
  display: inline-block;
  font-family: inherit;
  font-size: 16px;
  line-height: 20px;
  font-weight: 700;
  text-decoration: none;
  text-transform: uppercase;
  color: #ffffff;
  background-color: #756157;
  border: none;
  border-radius: 4px;
  border: none;
  padding: 8px 50px;
  text-align: center;
  cursor: pointer;
}

.button-want {
  padding: 8px 34px;
}

.button:hover {
  background-color: rgba(97, 80, 72, 1);
}

.button:focus {
  background-color: rgba(97, 80, 72, 1);
}

.button:active {
  background-color: rgba(117, 97, 87, 1);
  color: rgba(255, 255, 255, 0.3);
}

.button:disabled {
  background-color: #e5e5e5;
}

.button-light:hover {
  background-color: rgba(104, 162, 202, 1);
}

.button-light:focus {
  background-color: rgba(104, 162, 202, 1);
}

.button-light:active {
  background-color: rgba(130, 179, 211, 1);
  color: rgba(255, 255, 255, 0.3);
}

.button-in-favorites:hover {
  background-color: rgba(108, 158, 66, 1);
}

.button-in-favorites:focus {
  background-color: rgba(108, 158, 66, 1);
}

.button-in-favorites:active {
  background-color: rgba(125, 181, 79, 1);
  color: rgba(255, 255, 255, 0.3);
}

.button-light {
  background-color: #82b3d3;
}

.catalog-cards-item .button {
  padding: 0;
}

.button-in-favorites {
  background-color: #7db54f;
}

.subscription-button {
  font-family: inherit;
  font-size: 20px;
  font-weight: 700;
  line-height: 36px;
  text-transform: uppercase;
  background-color: #82b3d3;
  width: 232px;
  min-width: 232px;
  height: 52px;
  background: #82b3d3;
  color: #ffffff;
  border: none;
  display: inline-block;
  border-radius: 0 4px 4px 0;
  padding: 8px 10px;
  cursor: pointer;
}

.subscription-button:hover,
.subscription-button:focus {
  background-color: #68a2ca;
}

.subscription-button:active {
  color: rgba(255, 255, 255, 0.3);
  background-color: #82b3d3;
}

.button-reset {
  background-color: transparent;
}

.button-reset:hover {
  background-color: transparent;
  color: rgba(255, 255, 255, 0.5);
}

.button-reset:focus {
  background-color: transparent;
}

.button-reset:active {
  background-color: transparent;
  color: rgba(255, 255, 255, 0.3);
}

.button-reset:disabled {
  background-color: transparent;
  color: rgba(255, 255, 255, 0.2);
}

/*форма подписки*/

.subscription-form {
  display: flex;
  justify-content: center;
  font: inherit;
}

.subscription-email {
  min-width: 452px;
  height: 52px;
  border: none;
  padding: 14px 20px;
  border-radius: 4px 0 0 4px;
  background-color: rgba(242, 242, 242, 1);
  font-family: inherit;
  font-size: 18px;
  line-height: 24px;
}

.hero-index {
  min-height: 485px;
  background-color: #83b3d3;
  background: url("../images/welcom-decor.svg") bottom no-repeat,
    url("../images/index-background.jpg") no-repeat;
  background-size: 100% auto, cover;
}

.hero-img {
  display: block;
  margin: 0 auto;
  padding-top: 50px;
}

.advantages-header {
  min-height: 261px;
  padding-top: 69px;
  padding-bottom: 90px;
}

.advantages-title {
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
  color: #000000;
  margin: 0;
  padding: 0;
  max-width: 651px;
  margin: 0 auto;
  margin-bottom: 25px;
}

.advantages-desc {
  text-align: center;
  margin: 0;
  padding: 0;
  max-width: 651px;
  margin: 0 auto;
}

.advantages-list {
  list-style-type: none;
  margin: 0;
  padding: 0;
  color: #000000;
  display: grid;
  grid-template-columns: repeat(3, 400px);
}

.advantages-item {
  text-align: center;
  background-color: rgba(131, 179, 211, 0.12);
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.advantages-item-title {
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  text-align: center;
  text-transform: uppercase;
  padding: 0;
  margin: 0;
}

.advantages-item-title::after {
  margin: 30px auto 0;
  width: 60px;
  height: 2px;
  background-color: rgba(0, 0, 0, 0.3);
  content: "";
  display: block;
}

.advantages-content-dark .advantages-item-title::after {
  margin: 30px auto 0;
  width: 60px;
  height: 2px;
  background-color: rgba(255, 255, 255, 0.3);
  content: "";
  display: block;
}

.advantages-item-desc {
  font-size: 18px;
  line-height: 21px;
  text-align: center;
  padding: 0;
  margin: 0;
  margin-top: 30px;
}

.advantages-content {
  padding: 50px 85px;
  min-height: 385px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.advantages-image {
  width: 800px;
  height: 100%;
  object-fit: cover;
}

.advantages-item:nth-of-type(odd) {
  background-color: rgba(131, 179, 211, 0.2);
}

.advantages-item.advantages-item-dark {
  background-color: rgba(130, 179, 211, 1);
  width: 100%;
  display: flex;
  color: #ffffff;
  grid-column: 1 / -1;
}

.services-header {
  min-height: 246px;
  padding-top: 64px;
  padding-bottom: 64px;
}

.services-title {
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  text-transform: uppercase;
  color: #000000;
  text-align: center;
  margin: 0;
  padding: 0;
  max-width: 500px;
  margin: 0 auto;
  margin-bottom: 20px;
}

.services-desc {
  text-align: center;
  margin: 0;
  padding: 0;
  max-width: 500px;
  margin: 0 auto;
}

.services-list {
  text-align: center;
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
}

.services-item {
  width: 400px;
  min-height: 385px;
  padding: 80px 85px;
}

.services-item:nth-child(1) {
  background-image: url("../images/house.svg");
  background-repeat: no-repeat;
  background-position: right 50% top 81px;
}

.services-item:nth-child(2) {
  background-image: url("../images/food.svg");
  background-repeat: no-repeat;
  background-position: right 50% top 81px;
}

.services-item:nth-child(3) {
  background-image: url("../images/souvenirs.svg");
  background-repeat: no-repeat;
  background-position: right 50% top 81px;
}

.services-item-title {
  font-size: 24px;
  line-height: 28px;
  font-weight: 700;
  text-transform: uppercase;
  color: #000000;
  margin: 0;
  padding: 0;
  margin-top: 105px;
  margin-bottom: 30px;
}

.services-item-desc {
  font-size: 18px;
  line-height: 21px;
  text-align: center;
  margin: 0;
  padding: 0;
}

.services-list li:nth-of-type(odd) {
  background-color: rgba(131, 179, 211, 0.12);
}

.search {
  text-align: center;
  min-height: 406px;
  padding-top: 96px;
  padding-bottom: 96px;
}

.search-title {
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
  color: #000000;
  margin: 0;
  padding: 0;
  margin-bottom: 20px;
}

.search-desc {
  text-align: center;
  margin: 0;
  padding: 0;
  max-width: 592px;
  margin: 0 auto;
  margin-bottom: 54px;
}

.search a.button {
  font-size: 20px;
  line-height: 36px;
  font-weight: 700;
  display: inline-block;
}

.subscription {
  min-height: 415px;
  text-align: center;
  padding-top: 96px;
  padding-bottom: 104px;
}

.subscription-index {
  background-color: #8daab8;
  background-image: url("../images/subscriotion.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  color: #ffffff;
}

.subscription-title {
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  text-transform: uppercase;
  margin: 0;
  padding: 0;
  margin-bottom: 20px;
}

.subscription-desc {
  margin: 0;
  padding: 0;
  margin-bottom: 54px;
  max-width: 500px;
  margin: 0 auto;
  margin-bottom: 54px;
}

.subscription-button {
  font-size: 20px;
  line-height: 36px;
  font-weight: 700;
  text-transform: uppercase;
  color: #ffffff;
  background-color: #82b3d3;
  border: none;
}

.footer-social-list {
  display: flex;
  flex-wrap: wrap;
  max-width: 190px;
  margin: 0;
  padding: 0;
  list-style-type: none;
  margin-bottom: 10px;
}

.footer-social-link {
  display: block;
  width: 47px;
  height: 40px;
  padding: 12px 10px;
}

.footer-svg {
  display: block;
}

.footer-svg {
  display: block;
  margin: 0 auto;
}

.footer-social-link:hover .footer-svg path {
  fill: #68a2ca;
}

.footer-social-link:focus .footer-svg path {
  fill: #68a2ca;
}

.footer-social-link:active .footer-svg path {
  fill: rgba(104, 162, 202, 0.3);
}

.page-footer-container {
  display: flex;
  justify-content: space-between;
  padding: 45px 70px 35px;
}

.footer-phone {
  font-size: 40px;
  line-height: 40px;
  font-weight: 400;
  text-align: center;
  text-decoration: none;
  color: #000000;
}

.footer-phone:hover {
  color: rgba(117, 97, 87, 1);
}

.footer-phone:focus {
  color: rgba(117, 97, 87, 1);
}

.footer-phone:active {
  color: rgba(117, 97, 87, 0.3);
}

.footer-social-link:active .footer-svg path {
  fill: rgba(104, 162, 202, 0.3);
}

.footer-link-logo:hover .footer-svg path {
  fill: rgba(117, 97, 87, 1);
}

.footer-link-logo:focus .footer-svg path {
  fill: rgba(117, 97, 87, 1);
}

.footer-link-logo:active .footer-svg path {
  fill: rgba(117, 97, 87, 0.3);
}

/* Catalog*/
.filter {
  min-height: 412px;
  background-color: #8daab8;
  background: url("../images/hero-filtr.jpg") no-repeat;
  background-size: cover;
  color: #ffffff;
  margin: 0;
  padding: 70px;
  padding-top: 35px;
}

.filter-title {
  font-size: 60px;
  line-height: 78px;
  font-weight: 700;
  padding: 0;
  margin: 0;
  margin-bottom: 3px;
}
/*форма поиска*/

.search-options-container {
  display: flex;
  justify-content: space-between;
}

.search-options-title {
  font-size: 20px;
  line-height: 24px;
  font-weight: 700;
  padding: 0;
  margin: 0;
  margin-bottom: 32px;
  text-transform: capitalize;
}

.control-label {
  font-size: 18px;
  line-height: 23px;
}

.search-options-item {
  line-height: 23px;
}

.search-options-group {
  padding: 0;
  margin: 0;
  border: none;
}

.search-options-list {
  padding: 0;
  margin: 0;
  list-style-type: none;
}

.search-options-item:not(:last-child) {
  margin-bottom: 16px;
}

.search-options-group-first {
  display: flex;
  gap: 70px;
}

.search-options-group-second {
  display: flex;
  gap: 70px;
}

.search-options-group-button {
  display: flex;
  flex-direction: column;
  gap: 32px;
  justify-content: flex-end;
}

.range-wrapper-inputs {
  display: flex;
  justify-content: center;
  position: relative;
  margin-bottom: 40px;
}

.range-scale {
  position: relative;
  width: 280px;
  height: 4px;
  background-color: rgba(255, 255, 255, 0.3);
  left: 10px;
}

.control-input-cost {
  padding: 12px 45px 12px 20px;
  background-color: rgba(242, 242, 242, 1);
  width: 143px;
  height: 48px;
  border-radius: 4px 0 0 4px;
  font-size: 18px;
  font-weight: 700;
  line-height: 24px;
  border: none;
}

.control-input-cost::-webkit-outer-spin-button,
.control-input-cost::-webkit-inner-spin-button {
  appearance: none;
  margin: 0;
}

.control-input-cost-max {
  border-radius: 0 4px 4px 0;
  margin-left: 2px;
}

.control-input-cost:hover {
  background-color: #e6e6e6;
}

.control-input-cost:active,
.control-input-cost:focus {
  background-color: #e6e6e6;
  border: 3px solid #83b3d3;
}

.control-cost {
  font-size: 18px;
  font-weight: 400;
  line-height: 24px;
  color: rgba(0, 0, 0, 0.3);
}

.control-cost:first-child {
  position: absolute;
  z-index: 2;
  left: 106px;
  top: 12px;
}

.control-cost:nth-child(3) {
  position: absolute;
  z-index: 2;
  left: 250px;
  top: 12px;
}

.range-bar {
  position: absolute;
  height: 4px;
  background-color: #fff;
}

.range-toggle:hover {
  background-color: #cccccc;
}

.range-toggle:active,
.range-toggle:focus {
  outline: 3px solid #8b8b8b;
}

.range-toggle {
  position: absolute;
  width: 20px;
  height: 20px;
  background: #ffffff;
  border: 4px;
  border-radius: 5px;
  cursor: pointer;
}

.toggle-min {
  top: -8px;
  left: -10px;
}

.toggle-max {
  top: -8px;
  right: -10px;
}

.control {
  position: relative;
  display: block;
  padding-left: 36px;
}

.control-mark {
  position: absolute;
  top: 2px;
  left: 0;
  width: 20px;
  height: 20px;
  background-color: #fff;
  border-radius: 5px;
}

.control:hover .control-mark {
  background-color: #cccccc;
}

.control-input:disabled + .control-mark {
  border-color: #242424;
}

.control-input[type="checkbox"]:checked + .control-mark {
  position: absolute;
  background-image: url("../images/tick.svg");
  width: 20px;
  height: 20px;
  content: "";
}

.control-input[type="radio"] + .control-mark {
  border-radius: 50%;
}

.control-input[type="radio"]:checked + .control-mark::before {
  position: absolute;
  width: 20px;
  height: 20px;
  background-color: rgba(63, 94, 114, 1);
  border-radius: 50%;
  border: 5px solid #fff;
  content: "";
}

.control:hover {
  opacity: 0.6;
}

.control-input[type="checkbox"]:focus + .control-mark {
  outline: 3px solid #8b8b8b;
}

.control-input[type="radio"]:focus + .control-mark {
  outline: 3px solid #8b8b8b;
}

.control:active {
  opacity: 0.3;
}

/*хлебные крошки*/

.breadcrumbs {
  display: flex;
  flex-wrap: wrap;
  padding: 0;
  margin: 0;
  list-style-type: none;
  margin-bottom: 40px;
  gap: 10px;
  align-items: bottom;
}

.breadcrumbs-item:not(:first-child):before {
  content: "";
  display: inline-block;
  width: 13px;
  height: 13px;
  background-image: url("../images/breadcrumbs-arrow-.svg");
  background-repeat: no-repeat;
  background-position: center;
  justify-content: center;
  align-items: center;
}

.breadcrumbs-link {
  padding: 0;
  margin: 0;
  font-size: 16px;
  line-height: 21px;
  font-weight: 400;
  text-decoration: none;
  color: #ffffff;
}

.breadcrumbs-link:hover {
  color: rgba(255, 255, 255, 0.6);
}

.breadcrumbs-link:active {
  color: rgba(255, 255, 255, 0.3);
}

.breadcrumbs-link:hover .breadcrumbs-link-svg path {
  fill: rgba(255, 255, 255, 0.3);
}

.catalog {
  padding: 50px 70px 60px;
}

.catalog-header {
  display: flex;
  margin-bottom: 40px;
  align-items: center;
}

.catalog-title {
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  text-transform: uppercase;
  color: #000000;
  padding: 0;
  margin: 0;
  margin-right: auto;
}

.select-control {
  height: 49px;
  padding: 14px 20px;
  width: 292px;
  border: none;
  border-radius: 4px;
  appearance: none;
  font-family: inherit;
  font-size: 18px;
  line-height: 21px;
  border: 2px solid var(--forms-elements-1, #e5e5e5);
  background-image: url("../images/arrow.svg");
  background-repeat: no-repeat;
  background-position: right 20px center;
}

.select-control:hover,
.select-control:focus {
  border: 2px solid #68a2ca;
}

.select-control:disabled {
  border: 2px solid rgba(0, 0, 0, 0.3);
  color: rgba(0, 0, 0, 0.3);
}

.catalog-view {
  width: 160px;
  margin-left: 70px;
  display: flex;
  gap: 8px;
}

.catalog-view-card {
  display: inline-block;
  border: 2px solid #e5e5e5;
  width: 48px;
  height: 48px;
  border-radius: 4px;
}

.catalog-view-current {
  border: 2px solid #000;
}

.catalog-view-card:hover {
  border: 2px solid #000;
}

.catalog-view-card:focus {
  border: 2px solid rgba(104, 162, 202, 1);
}

.catalog-view-card:active {
  border: 2px solid #000;
}

.catalog-view-card-card {
  background-image: url("../images/card.svg");
  background-repeat: no-repeat;
  background-position: center;
}

.catalog-view-card-slide {
  background-image: url("../images/slide.svg");
  background-repeat: no-repeat;
  background-position: center;
}

.catalog-view-card-list {
  background-image: url("../images/list.svg");
  background-repeat: no-repeat;
  background-position: center;
}

.catalog-cards-list {
  list-style-type: none;
  padding: 0;
  margin: 0;
  margin-bottom: 80px;
  display: grid;
  grid-template-columns: repeat(3, 340px);
  gap: 20px;
}

.card {
  padding: 20px;
  border: 1px solid #e6e6e6;
  border-radius: 4px;
  display: grid;
  grid-template-columns: repeat(2, 140px);
  row-gap: 16px;
  column-gap: 20px;
  grid-template-rows: 212px 1fr;
}

.card a.button {
  padding: 8px;
}

.card button {
  padding: 8px;
  text-decoration: none;
}

.card-title {
  font-size: 24px;
  line-height: 28px;
  font-weight: 700;
  color: #000000;
  padding: 0;
  margin: 0;
}

.card-title-link {
  grid-column: 1/-1;
  text-decoration: none;
}

.card-image {
  display: block;
  width: 300px;
  object-fit: contain;
  margin: 0;
  padding: 0;
}

.card-image-link {
  grid-column: 1/-1;
}

.card-text {
  font-size: 18px;
  line-height: 21px;
  padding: 0;
  margin: 0;
}

.card-cost {
  font-size: 18px;
  line-height: 21px;
  padding: 0;
  margin: 0;
  justify-self: end;
}

.stars {
  margin: 0;
  display: block;
  width: 140px;
  height: 36px;
  background: url("../images/star.svg") no-repeat 0%,
    url("../images/star.svg") no-repeat 24px,
    url("../images/star.svg") no-repeat 48px,
    url("../images/star.svg") no-repeat 72px,
    url("../images/star.svg") no-repeat 96px;
}

.star-1 {
  width: 18px;
}

.star-2 {
  width: 42px;
}

.star-3 {
  width: 66px;
}

.star-4 {
  width: 90px;
}

.star-5 {
  width: 114px;
}

.card-rating {
  font-size: 16px;
  line-height: 20px;
  font-weight: 400;
  text-align: center;
  border-radius: 4px;
  background-color: #f2f2f2;
  padding: 0;
  margin: 0;
  padding: 8px;
}

.pagination {
  display: flex;
}

.pagination-list {
  display: flex;
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.pagination-link {
  color: #ffffff;
  background-color: #82b3d3;
  border-radius: 4px;
  text-align: center;
  padding: 12px;
  font-size: 20px;
  line-height: 36px;
  font-weight: 700;
  text-decoration: none;
  display: block;
  min-width: 60px;
  height: 60px;
  margin-right: 8px;
}

.pagination-link:not(.pagination-sepatator, .pagination-link-current):hover {
  background-color: rgba(104, 162, 202, 1);
}

.pagination-link:not(.pagination-sepatator, .pagination-link-current):active {
  background-color: rgba(130, 179, 211, 1);
  color: rgba(255, 255, 255, 0.3);
}

.pagination-link-last {
  margin-right: 0;
}

.pagination-sepatator {
  color: #000000;
  background-color: #ffffff;
}

.pagination-link-current {
  color: #000000;
  background-color: #f2f2f2;
}

/*модальное окно*/

.modal-container {
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  width: 100%;
  height: 100%;
  background-color: rgba(242, 242, 242, 0.8);
}

.modal {
  position: relative;
  margin: auto;
  padding: 40px;
  background-color: #ffffff;
}

.modal-auth {
  width: 717px;
  border-radius: 30px;
  padding: 64px 70px;
  box-shadow: 0 25px 50px 0 rgba(0, 0, 0, 0.15);
}

.modal-close-button {
  position: absolute;
  padding: 0;
  top: 64px;
  right: 52px;
  width: 52px;
  height: 52px;
  background-color: rgba(242, 242, 242, 1);
  border-radius: 50%;
  border: none;
  background-image: url("../images/cross.svg");
  background-repeat: no-repeat;
  background-position: center;
  cursor: pointer;
}

.modal-close-button:hover {
  background-color: #e6e6e6;
  border-radius: 2px solid #83b3d3;
}

.modal-close-button:focus {
  background-color: #e6e6e6;
}

.modal-close-button:active {
  opacity: 0.3;
}

.modal-title {
  padding: 0;
  margin: 0;
  font-size: 30px;
  font-weight: 700;
  line-height: 36px;
  text-transform: uppercase;
  margin-bottom: 64px;
}

.auth-form label {
  font-size: 20px;
  font-weight: 700;
  line-height: 24px;
  text-transform: capitalize;
}

.auth-form-field {
  font-size: 18px;
  font-weight: 700;
  line-height: 24px;
  color: #000;
  width: 440px;
  height: 48px;
  padding: 0;
  margin: 0;
  padding: 12px 20px;
  background-color: #f2f2f2;
  border-radius: 4px;
  border: none;
  position: relative;
  top: 0;
}

.auth-comment {
  display: block;
  font-size: 16px;
  font-weight: 400;
  line-height: 21px;
  margin-left: 137px;
  padding-left: 20px;
  padding-right: 20px;
  margin-bottom: 23px;
  margin-top: 4px;
}

.auth-comment-error {
  color: #ff5757;
}

.field-group {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0;
  margin: 0;
  position: relative;
}

.auth-form-button {
  width: 577px;
  height: 60px;
  border-radius: 10px;
  margin-top: 48px;
  font-size: 20px;
  line-height: 24px;
}

.auth-form-calendar {
  padding: 0;
  margin: 0;
  border: none;
  position: absolute;
  right: 20px;
}

.amount-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.control-modal {
  font-size: 20px;
  font-weight: 700;
  line-height: 24px;
  text-transform: capitalize;
}

.arrival-date-wrapper .control-modal {
  width: 137px;
}

.control-input-modal {
  background-color: #f2f2f2;
  border: none;
  font-family: inherit;
  font-size: 18px;
  font-weight: 700;
  line-height: 24px;
  color: #000;
}

.arrival-date-wrapper .control-input-modal {
  width: 440px;
  padding: 12px 20px;
  padding-right: 50px;
  border-radius: 4px;
  position: relative;
  background-image: url("../images/calendar.svg");
  background-repeat: no-repeat;
  background-position: top 50% right 20px;
  align-self: stretch;
}

.amount-people-wrapper {
  display: flex;
  margin-left: 46px;
}

.amount-wrapper-group {
  display: flex;
  align-items: center;
}

.amount-people {
  display: block;
  width: 40px;
  height: 48px;
  padding: 14px 10px;
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
}

.amount-people-minus {
  position: relative;
  border-radius: 4px 0 0 4px;
}

.amount-people-plus {
  position: relative;
  border-radius: 0 4px 4px 0;
}

.control-modal {
  display: flex;
  gap: 10px;
}

.icon-amount-people {
  fill: #756157;
  fill-opacity: 0.3;
}
.amount-people:hover .icon-amount-people,
.amount-people:focus .icon-amount-people {
  fill: #000000;
  fill-opacity: 1;
}

.amount-people:active .icon-amount-people {
  fill-opacity: 0.2;
}

.control-input-modal-amount {
  width: 31px;
  appearance: none;
  margin: 0;
  padding: 14px 3px;
  font-family: inherit;
  font-weight: 700;
  line-height: 20px;
  text-align: center;
  border-radius: 0;
}
.control-input-modal-amount::-webkit-outer-spin-button,
.control-input-modal-amount::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.tooltip {
  position: relative;
}

.tooltip-toggle {
  display: block;
  background-color: #83b3d3;
  width: 26px;
  height: 26px;
  border-radius: 50%;
  background-image: url("../images/i.svg");
  background-repeat: no-repeat;
  background-position: center;
  border: none;
}

.tooltip-text {
  width: 256px;
  position: absolute;
  background-color: #000;
  z-index: 1;
  color: #ffffff;
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  padding: 15px 20px 18px;
  text-transform: none;
  border-radius: 10px;
  background: #333;
  box-shadow: 0 15px 30px 0 rgba(0, 0, 0, 0.3);
  top: 40px;
  left: 50%;
  transform: translateX(-50%);
  display: none;
}

.tooltip-text:after {
  content: "";
  position: absolute;
  background-image: url("../images/triangle.svg");
  background-repeat: no-repeat;
  width: 19px;
  height: 9px;
  bottom: 100%;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
}

.tooltip-toggle:hover + .tooltip-text,
.tooltip-toggle:focus + .tooltip-text {
  display: block;
}

.modal-container-close {
  display: none;
}
