@font-face {
  font-family: "PT-sans";
  src: url(../fonts/ptsans-400.woff2) format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "PT-sans";
  src: url(../fonts/ptsans-700.woff2) format("woff2");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  height: 100%;
}

body {
  height: 100%;
  font-family: "PT-sans", sans-serif;
  font-size: 22px;
  line-height: 26px;
  font-weight: 400;
  color: #333333;
  background-color: #f2f2f2;
  margin: 0;
  padding: 0;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.container {
  display: flex;
  flex-direction: column;
  width: 1200px;
  margin: 0 auto;
  background-color: #ffffff;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
  min-height: 100%;
}

.main-index {
  flex-grow: 1;
}

/* Pages */

.navigation {
  display: flex;
  padding: 0 70px;
}

.header-logo {
  margin-right: 28px;
}

.navigation-list {
  display: flex;
  flex-wrap: wrap;
  max-width: 600px;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.navigation-user {
  width: 268px;
  margin-left: auto;
  justify-content: flex-end;
  margin-top: 20px;
}

.navigation-link {
  font-size: 20px;
  line-height: 24px;
  font-weight: 700;
  color: #000000;
  text-decoration: none;
  text-align: center;
  padding: 20px 16px;
  display: block;
}

.navigation-user .navigation-link {
  min-width: 16px;
  min-height: 22px;
}

.button {
  font-size: 16px;
  line-height: 20px;
  font-weight: 700;
  text-decoration: none;
  text-transform: uppercase;
  color: #ffffff;
  background-color: #756157;
  border-radius: none;
  border-radius: 4px;
  border: none;
}

.button-light {
  background-color: #82b3d3;
}

.button-in-favorites {
  background-color: #7db54f;
}

.hero-index {
  min-height: 485px;
  background: url("../images/welcom-decor.svg") bottom no-repeat,
    url("../images/index-background.jpg") no-repeat;
  background-size: 100% auto, cover;
}

.hero-img {
  display: block;
  margin: 0 auto;
  padding-top: 50px;
}

.advantages-header {
  min-height: 261px;
  padding-top: 69px;
  padding-bottom: 69px;
}

.advantages-title {
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
  color: #000000;
  margin: 0;
  padding: 0;
  max-width: 651px;
  margin: 0 auto;
  margin-bottom: 25px;
}

.advantages-desc {
  text-align: center;
  margin: 0;
  padding: 0;
  max-width: 651px;
  margin: 0 auto;
}

.advantages-list {
  list-style-type: none;
  margin: 0;
  padding: 0;
  color: #000000;
  display: grid;
  grid-template-columns: repeat(3, 400px);
}

.advantages-item {
  text-align: center;
  background-color: rgba(131, 179, 211, 0.12);
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.advantages-item-title {
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  text-align: center;
  text-transform: uppercase;
  padding: 0;
  margin: 0;
}

.advantages-item-desc {
  font-size: 18px;
  line-height: 21px;
  text-align: center;
  padding: 0;
  margin: 0;
  margin-top: 62px;
}

.advantages-content {
  padding: 50px 85px;
  min-height: 385px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.advantages-image {
  width: 800px;
  height: 100%;
  object-fit: cover;
}

.advantages-item:nth-of-type(odd) {
  background-color: rgba(131, 179, 211, 0.2);
}

.advantages-item.advantages-item-dark {
  background-color: rgba(130, 179, 211, 1);
  width: 100%;
  display: flex;
  color: #ffffff;
  grid-column: 1 / -1;
}

.services-header {
  min-height: 246px;
  padding-top: 64px;
  padding-bottom: 64px;
}

.services-title {
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  text-transform: uppercase;
  color: #000000;
  text-align: center;
  margin: 0;
  padding: 0;
  max-width: 500px;
  margin: 0 auto;
  margin-bottom: 20px;
}

.services-desc {
  text-align: center;
  margin: 0;
  padding: 0;
  max-width: 500px;
  margin: 0 auto;
}

.services-list {
  text-align: center;
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
}

.services-item {
  width: 400px;
  min-height: 385px;
  padding: 50px 85px;
}

.services-item-title {
  font-size: 24px;
  line-height: 28px;
  font-weight: 700;
  text-transform: uppercase;
  color: #000000;
  margin: 0;
  padding: 0;
  margin-top: 30px;
  margin-bottom: 30px;
}

.services-item-desc {
  font-size: 18px;
  line-height: 21px;
  text-align: center;
  margin: 0;
  padding: 0;
}

.services-list li:nth-of-type(odd) {
  background-color: rgba(131, 179, 211, 0.12);
}

.search {
  text-align: center;
  min-height: 406px;
  padding-top: 96px;
  padding-bottom: 96px;
}

.search-title {
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
  color: #000000;
  margin: 0;
  padding: 0;
  margin-bottom: 20px;
}

.search-desc {
  text-align: center;
  margin: 0;
  padding: 0;
  max-width: 592px;
  margin: 0 auto;
  margin-bottom: 54px;
}

.search a.button {
  font-size: 20px;
  line-height: 36px;
  font-weight: 700;
  display: inline-block;
}

.subscription {
  min-height: 415px;
  text-align: center;
  padding-top: 96px;
  padding-bottom: 104px;
}

.subscription-index {
  background-image: url("../images/Subscribe.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-color: #8daab8;
  color: #ffffff;
}

.subscription-title {
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  text-transform: uppercase;
  margin: 0;
  padding: 0;
  margin-bottom: 20px;
}

.subscription-desc {
  margin: 0;
  padding: 0;
  margin-bottom: 54px;
  max-width: 500px;
  margin: 0 auto;
  margin-bottom: 54px;
}

.subscription-button {
  font-size: 20px;
  line-height: 36px;
  font-weight: 700;
  text-transform: uppercase;
  color: #ffffff;
  background-color: #82b3d3;
  border: none;
}

.footer-social-list {
  display: flex;
  flex-wrap: wrap;
  max-width: 190px;
  margin: 0;
  padding: 0;
  list-style-type: none;
  margin-bottom: 10px;
}

.footer-social-item {
  width: 46px;
  height: 40px;
}

.page-footer-container {
  display: flex;
  justify-content: space-between;
  padding: 45px 70px 35px;
}

.footer-phone {
  font-size: 40px;
  line-height: 40px;
  font-weight: 400;
  text-align: center;
  text-decoration: none;
  color: #000000;
}

/* Catalog*/
.filter {
  min-height: 412px;
  background: url("../images/hero-filtr.jpg") no-repeat;
  background-color: #8daab8;
  color: #ffffff;
  margin: 0;
  padding: 70px;
  padding-top: 35px;
}

.filter-title {
  font-size: 60px;
  line-height: 78px;
  font-weight: 700;
  padding: 0;
  margin: 0;
  margin-bottom: 8px;
}

.breadcrumbs {
  display: flex;
  padding: 0;
  margin: 0;
  list-style-type: none;
  margin-bottom: 40px;
}

.breadcrumbs-link {
  font-size: 16px;
  line-height: 21px;
  font-weight: 400;
  text-decoration: none;
  color: #ffffff;
  margin-right: 28px;
}

.search-options-container {
  display: flex;
}

.search-options-title {
  font-size: 20px;
  line-height: 24px;
  font-weight: 700;
}

.search-options-item {
  line-height: 23px;
}

.catalog {
  padding: 50px 70px 60px;
}

.catalog-header {
  display: flex;
  margin-bottom: 40px;
  justify-content: space-between;
}

.catalog-title {
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  text-transform: uppercase;
  color: #000000;
  padding: 0;
  margin: 0;
}

.catalog-view {
  width: 160px;
}

.catalog-view-card {
  display: inline-block;
  border: 2px solid #e5e5e5;
  width: 48px;
  height: 48px;
}

.catalog-cards-list {
  list-style-type: none;
  padding: 0;
  margin: 0;
  margin-bottom: 80px;
  display: grid;
  grid-template-columns: repeat(3, 340px);
  gap: 20px;
}

.card {
  padding: 20px;
  border: 1px solid #e6e6e6;
  border-radius: 4px;
  display: grid;
  grid-template-columns: repeat(2, 140px);
  row-gap: 16px;
  column-gap: 20px;
  grid-template-rows: 212px 1fr;
}

.card-title {
  font-size: 24px;
  line-height: 28px;
  font-weight: 700;
  color: #000000;
  padding: 0;
  margin: 0;
}

.card-title-link {
  grid-column: 1/-1;
  text-decoration: none;
}
.card-image {
  display: block;
  width: 300px;
  object-fit: contain;
  margin: 0;
  padding: 0;
}

.card-image-link {
  grid-column: 1/-1;
}

.card-text {
  font-size: 18px;
  line-height: 21px;
  padding: 0;
  margin: 0;
}

.card-cost {
  font-size: 18px;
  line-height: 21px;
  padding: 0;
  margin: 0;
  justify-self: end;
}

.card-rating {
  font-size: 16px;
  line-height: 20px;
  font-weight: 400;
  text-align: center;
  border-radius: 4px;
  background-color: #f2f2f2;
  padding: 0;
  margin: 0;
  padding-top: 8px;
}

.pagination {
  display: flex;
}

.pagination-list {
  display: flex;
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.pagination-link {
  color: #ffffff;
  background-color: #82b3d3;
  border-radius: 4px;
  text-align: center;
  padding: 12px;
  font-size: 20px;
  line-height: 36px;
  font-weight: 700;
  text-decoration: none;
  display: block;
  min-width: 60px;
  height: 60px;
  margin-right: 8px;
}

.pagination-link-last {
  margin-right: 0;
}

.pagination-sepatator {
  color: #000000;
  background-color: #ffffff;
}

.pagination-link-current {
  color: #000000;
  background-color: #f2f2f2;
}
