@font-face {
  font-family: "PT-sans";
  src: url(../fonts/ptsans-400.woff2) format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "PT-sans";
  src: url(../fonts/ptsans-700.woff2) format("woff2");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
body {
  font-family: "PT-sans"; sans-serif;
  font-size: 18px;
  line-height: 21px;
  font-weight: 400;
  color: #000000;
  background-color: #ffffff;
  margin: 0;
}

.container {
width: 1200px;
}
/* Pages */


.navigation-link {
  font-size: 20px;
  line-height: 24px;
  font-weight: 700;
  color: #000000;
  text-decoration: none;
  }
  .button {
    font-size: 16px;
    line-height: 20px;
    font-weight: 700;
    text-decoration: none;
    text-transform: uppercase;
    color: #ffffff;
    background-color: #756157;
  }


  .hero-index {
    min-height: 485px;
    background:
      url("../images/welcom-decor.svg") bottom no-repeat,
      url("../images/index-background.jpg") no-repeat;
  }

  .hero-img {
    display: block;
    margin: 0 auto;
  }

  .advantages-title {
    font-size: 30px;
    line-height: 36px;
    font-weight: 700;
    text-align: center;
    text-transform: uppercase;
  }
  .advantages-desc {
    font-size: 22px;
    line-height: 26px;
    font-weight: 400;
    text-align: center;
    color: #333333;
  }

  .advantages-item-title {
    font-weight: 700;
    font-size: 24px;
    line-height: 28px;
    text-align: center;
    text-transform: uppercase;
  }

  .advantages-item-desc {
    text-align: center;
    color: #333333;
  }
  .advantages-list {
    background-color: rgba(131, 179, 211, 0.12);
  }

 .advantages-list li:nth-of-type(odd) {
   background-color: rgba(131, 179, 211, 0.2);
 }

 .advantages-list li.advantages-item-dark {
  background-color: rgba(130, 179, 211, 1);
 }

 .advantages-item-dark {
  color: #ffffff;
 }

 .services-title {
  font-size: 30px;
    line-height: 36px;
    font-weight: 700;
    text-align: center;
    text-transform: uppercase;
 }

 .services-desc {
  font-weight: 400;
  font-size: 22px;
  line-height: 26px;
  text-align: center;
  color: #333333;}

  .services-item-title {
    font-size: 24px;
    line-height: 28px;
    font-weight: 700;
    text-align: center;
    text-transform: uppercase;
  }

  .services-item-desc{

    text-align: center;
    color: #333333;
  }

 .services-list li:nth-of-type(odd) {
  background-color: rgba(131, 179, 211, 0.12);}

  .search {
    min-height: 406px;
  }

  .search-title {
    font-size: 30px;
    line-height: 36px;
    font-weight: 700;
    text-align: center;
    text-transform: uppercase;
  }

 .search-desc {
    font-weight: 400;
    font-size: 22px;
    line-height: 26px;
    text-align: center;
    color: #333333;
  }
  .search a.button {
    font-size: 20px;
    line-height: 36px;
    font-weight: 700;
  }

  .subscription {
    min-height: 415px;
    background: url("../images/Subscribe.jpg") no-repeat;
    color: #ffffff;
  }

  .subscription-title {
    font-size: 30px;
    line-height: 36px;
    font-weight: 700;
    text-align: center;
    text-transform: uppercase;
  }
  .subscription-desc {
    font-size: 22px;
    line-height: 26px;
    font-weight: 400;
    text-align: center;
  }

  .subscription-button {
    font-size: 20px;
    line-height: 36px;
    font-weight: 700;
    text-transform: uppercase;
    color: #ffffff;
    background-color: #82B3D3;
  }

  .page-footer {
    min-height: 120px;
  }

  .footer-social-link {
    text-decoration: none;
  }

.footer-phone {
  font-size: 40px;
  line-height: 40px;
  font-weight: 400;
  text-align: center;
  text-decoration: none;
  color: #000000;
}
